body{
  margin: 0;
  padding: 0;
}

nav{
  text-decoration: none;
  background-color: #424949;
  min-width: 100vw;
  min-height: 20vh;
  z-index: 1;
  position: absolute;
  gap: 15px;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  flex-direction: column;

  hr{
    width: 60%;
  }
}

header{
  height: 10px;
}

.topShelf{
  color: #dbdad4;
  background-size: 30px 100%;
  background-image: linear-gradient(135deg,#414e4c 100%,transparent 25%),linear-gradient(225deg,#414e4c 25%,transparent 25%);
  background-position: 0 0;
  z-index: 2;
  position: relative;

  img{
    margin-left: auto;
    margin-right: auto;
  }

  h3{
    background-color: #1e2322;
    width: 31%;
    border-radius: 0% 10%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 1px;
    border-radius: 40% 40% 40% 40%;
  }
}

.name{
  p{
    justify-content: center;
    display: flex;
    background-color: black;
  }
}

span{
  display: flex;
  color: #dbdad4;
  background-color: #2c6e61;
  width: 100%;
  height: 26px;
  align-items: center;
  justify-content: center;
}

.menu{
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
}


hr{
  color: black;
}

.active{
  display: flex;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #dbdad4;
  text-transform: uppercase;
}

a:hover{
cursor: pointer;
color: #121111;
text-decoration: underline red;
font-size: larger;
}


.info{
  border: 2px solid #000;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0% 0% 10% 10%;
  display: grid;
  box-shadow: 0px 0px 10px 5px #0b0000;
  padding: 10px;

  h2{
    display: flex;
    justify-content: center;
  }

  div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
  }

  p{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 0;
  }
}

.github{
  font-size: 3rem;
}

.iconer{
  gap: 5%;
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

h2{
  text-transform: uppercase;
  justify-content: center;
  display: flex;
}

h3{
  justify-content: center;
  display: flex;
  text-transform: uppercase;
}

.touch{
  color:black ;
  -webkit-text-stroke-width: thin;
}

.touchBtn:hover{
  color:#2c6e61 ;
  text-decoration: underline;
  background-color: #000;
}

.spik{
  color: #dbdad4;
  background-size: 20px 100%;
  background-image: linear-gradient(135deg, #414e4c 25%, transparent 25%),linear-gradient(225deg, #414e4c 25%, transparent 25%);
  background-position: 0 0;
  z-index: 3;
  position: relative;
  top: 100%;
  height: 31px;
  content: "";
  background-color: black;
}

.touch{
  justify-content: center;
  display: flex;
}

.touchBtn{
  width: 34%;
  border-radius: 50% 0%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pageOne{
  display: grid;
  justify-content: center;
  gap: 40px;
  background: linear-gradient(rgb(30, 29, 29),#414E4C);
  color: #dbdad4;
  justify-content: center;
  padding-top: 5%;
}


.experience{
  box-shadow: 0px 0px 10px 5px #a09e9e;
  border-radius: 0% 0% 10% 10%;
  padding: 10px;
  width: 50vw;
  margin: auto;

  p{
    line-height: 1.8rem;
  }
}

.education{
  border-radius: 0% 0% 10% 10%;
  box-shadow: 0px 0px 10px 5px #a09e9e;
  padding: 10px;
  width: 50vw;
  margin-left:auto;
  margin-right: auto;
  display: grid;
}

.works{
border-radius: 0% 0% 10% 10%;
}

.competence{
  padding: 10px;
  width: 50vw;
  margin: auto;
}

.cv{
  padding: 10px;
  width: 50vw;
  margin: auto; 
  margin-bottom: 20px;
}

i{
  display: flex;
  justify-content: center;
}

footer{
  display: flex;
  background-color: #0f0f0f;
  color: #dbdad4;
  justify-content: center;
  flex-direction: column;

  h2{
    justify-content: center;
    display: flex;
  }

  div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
  }
  
  h4{
    margin-left: auto;
    margin-right: auto;
  }

  .bottomName{
    background-color: #2c6e61;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

.iconFooter{
  font-size: 3rem;
}

@media screen and (min-width:820px) {

  .topshelf{
    height: 35vh;
  }

  .works{
    justify-content: center;
    display: grid;
    gap: 5%;
  }

  .cv{
    justify-content: center;
    display: grid;
  }
  
  footer{
    height: 35vh;
  }
}


@media screen and (min-width:1024px) {

  .container{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 30px;
  }

  .works{
    width: 15vw;
    align-items: center;
    display: flex;
  }
  
  .topshelf{
    height: 50vh;
  }

  .info{
    width: 25%;
  }

  .education{
  justify-content: center;
  }
  .cv{
    width: 30vw;
    display: grid;
    justify-content: center;
  }



  footer{
    div{
      height: 800vh;
    }
  }
}